@import 'tailwindcss';

@font-face {
  font-family: 'GoogleSansDisplay';
  src: url('/fonts/GoogleSansDisplay/GoogleSansDisplay-Bold.ttf')
    format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'GoogleSansDisplay';
  src: url('/fonts/GoogleSansDisplay/GoogleSansDisplay-Medium.ttf')
    format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'GoogleSansDisplay';
  src: url('/fonts/GoogleSansDisplay/GoogleSansDisplay-Regular.ttf')
    format('truetype');
  font-weight: 400;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* color */
  --color-main-50: #e5f2f0;
  --color-main-200: #8ecebf;
  --color-main-400: #49ab94;
  --color-main-600: #358e76;
  --color-main-800: #296e59;

  --color-gray-200: #b1bcb8;
  --color-gray-400: #788d87;
  --color-gray-600: #556b64;
  --color-gray-800: #374440;

  --color-white: #fff;
  --color-black: #111;

  --color-togo-100: #ffa9c6;
  --color-togo-300: #e83178;
  --color-delivery-100: #fff7a3;
  --color-delivery-300: #fedc40;
  --color-bottle-100: #afcbff;
  --color-bottle-300: #588ae6;

  /* text size */
  --text-XXL: 1.5rem;
  --text-XL: 1.25rem;
  --text-L: 1.125rem;
  --text-M: 1rem;
  --text-S: 0.875rem;

  /* shadow */
  --shadow-tabbar-center: 2px 4px 12px rgba(55, 68, 64, 0.12);
  --shadow-tabbar-side-left: 0px 4px 12px rgba(55, 68, 64, 0.12);
  --shadow-tabbar-side-right: 4px 0px 12px rgba(55, 68, 64, 0.12);
  --shadow-card: 2px 4px 12px 0px rgba(55, 68, 64, 0.12);

  --breakpoint-max: 430px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
a,
b,
strong {
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: 'GoogleSansDisplay', Arial, Helvetica, sans-serif;
  background-color: var(--color-main-50);
  color: var(--color-black);

  max-width: 430px;
  min-height: 100dvh;
  margin: 0 auto;
  border: 1px solid var(--foreground);
}

button {
  cursor: pointer;
}

.tabbar-center {
  background-color: var(--color-white);
  width: calc((100% - 214px) / 2);
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25%);
}
